<% layout('layouts/boilerplate')%>
<div class="row">
	<h1 class="text-center">New Hotel</h1>
	<div class="col-6 offset-3">
		<form action="/hotels" method="post" novalidate class="validated-form">
			<div class="mb-3">
				<label class="form-label" for="title">Title</label>
				<!-- hotel[title]: if we have multiple hotel[location] etc when our data is sent via POST request to the server, everyhing in the req.body will be stored under "hotel"  -->
				<input
					class="form-control"
					type="text"
					id="title"
					name="hotel[title]"
					required
				/>
				<div class="valid-feedback">
					Looks good!
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="location">Location</label>
				<input
					class="form-control"
					type="text"
					id="location"
					name="hotel[location]"
					required
				/>
				<div class="valid-feedback">
					Looks good!
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="image">Image Url</label>
				<input
					class="form-control"
					type="text"
					id="image"
					name="hotel[image]"
					required
				/>
				<div class="valid-feedback">
					Looks good!
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="price">Price</label>
				<div class="input-group">
					<span class="input-group-text" id="price-label">
						£
					</span>
					<input type="text" class="form-control" id="price" placeholder="0.00" aria-label="Price" aria-describedby="price-label" name="hotel[price]" required >
					<div class="valid-feedback">
						Looks good!
					</div>
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="description">Description</label>
				<textarea
					class="form-control"
					type="text"
					id="description"
					name="hotel[description]" required/></textarea>
				<div class="valid-feedback">
					Looks good!
				</div>
			</div>
			<div class="mb-3">
				<button class="btn btn-success">Add Hotel</button>
			</div>
		</form>
		<a href="/hotels">All Hotels</a>
	</div>
</div>
